<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Card</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            {% if update_status %}
            <div class="col-12 alert alert-success">
                <p>Updateing a card Sucess!</p>
            </div>
            {% else %}
            <div class="col-12 alert alert-danger">
                <p>Updateing a card Failed!</p>
                <p>Please add a new card again</p>
            </div>
            {% endif %}
        </div>
    
        <div class="row">
            <div class="col-4">
                <a href="{{ url_for('index') }}" class="col-12 btn btn-primary">Back to main page</a>
            </div>
            <div class="col-4">
    
            </div>
            <div class="col-4">
                <a href="{{ url_for('updateCard') }}" class="col-12 btn btn-warning">Redo Updating a new card</a>
            </div>
        </div> 
    </div>
    
                
</body>
</html>